@import "tailwindcss";

@theme {
    --color-primary: hsl(var(--primary));
    --color-link: hsl(var(--link));

    --color-vintage: hsl(var(--vintage));

    --animate-fade-in: fade-in 0.7s ease-out forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
    --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
    --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
    --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


@utility container {
    margin-inline: auto;

    @media (width >= 640px) {
        max-width: 640px;
    }
    @media (width >= 768px) {
        max-width: 768px;
    }
    @media (width >= 1024px) {
        max-width: 1024px;
    }
    @media (width >= 1280px) {
        max-width: 1280px;
    }
    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

@layer base {
    :root {
        --primary: 	25 30% 25%;
        --link: 20 90% 55%;
        --vintage: 40 51% 75%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        @apply scroll-smooth;
        font-family: "Inter", sans-serif;
    }

    body {}
}

@utility click-button {
    @apply px-6 py-2 rounded-full bg-primary text-white font-medium 
            transition-all duration-300 hover:shadow-[0_0_10px_rgba(234,95,16,0.5)]
            hover:scale-105 active:scale-95;
}

@layer utilities {
    .animate-marquee {
        animation: marquee 25s linear infinite;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}